

<md-toolbar color="primary" class="mat-elevation-z4">
  <button md-icon-button><md-icon class="material-icons">menu</md-icon></button> 
  <span>PARENTING: THE GAME</span>
  <span class="example-spacer"></span>  
  <button md-icon-button><md-icon class="material-icons">settings</md-icon></button>
</md-toolbar>

<div fxLayout="column" >

  <!-- SIDENAV COMPONENT -->
  <md-sidenav-container fxLayout="row" fxFlex="100">
    <md-sidenav #sidenav mode="side" opened="true" fxFlex="20" class="mat-elevation-z2">
        <md-list fxLayout="column">
          <button md-button fxFlex="100"> <md-list-item> <md-icon class="material-icons">dashboard</md-icon>Status</md-list-item></button>
          <md-divider></md-divider>          
          <button md-button fxFlex="100">
            <md-list-item> <md-icon class="material-icons">add_circle</md-icon> Add achievement</md-list-item>
          </button>
          <md-divider></md-divider>          
          <button md-button fxFlex="100"> 
            <md-list-item> <md-icon class="material-icons">trending_up</md-icon> Level-up Info</md-list-item>
          </button>
          <md-divider></md-divider>          
          <button md-button fxFlex="100"> 
            <md-list-item><md-icon class="material-icons">polls</md-icon> Standings</md-list-item>
          </button>
          <md-divider></md-divider>          
          <button md-button fxFlex="100"> 
            <md-list-item><md-icon class="material-icons">group</md-icon> Parent friends</md-list-item>
          </button>
        </md-list>
    </md-sidenav>
    <!-- END SIDENAV COMPONENT -->

    <!-- ADD ACHIEVEMENT COMPONENT -->
    <md-tab-group fxFlex="67">
      <md-tab label="Category One">
        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start space-around" fxLayoutWrap>
          <md-card *ngFor="let user of [1, 2, 3, 4, 5]" 
          class="mat-elevation-z6" 
          flex="35"
          style="background-color: lightgrey;margin:20px">  
            <md-card-title>Achievement title</md-card-title>
            <md-card-subtitle>Category One</md-card-subtitle>
            <md-card-content>
              <p>This is the description of the great parenting achievement</p>
            </md-card-content>  
          </md-card>
        </div>
      </md-tab>
      <md-tab label="Category Two">
        <h1>Some more tab content</h1>
        <p>...</p>
      </md-tab>
    </md-tab-group>
    <!-- END ADD ACHIEVEMENT COMPONENT -->

  </md-sidenav-container>
</div>


