

<md-toolbar color="primary" class="mat-elevation-z4">
  <button md-icon-button><md-icon class="material-icons">menu</md-icon></button> 
  <span>PARENTING: THE CHALLENGE</span>
  <span class="example-spacer"></span>  
  <button md-icon-button><md-icon class="material-icons">settings</md-icon></button>
</md-toolbar>

<div fxLayout="column" >
  <md-sidenav-container fxLayout="row" fxFlexFill>

    <app-side-nav [fullSize]="false" class="mat-elevation-z2" fxFlex="20"></app-side-nav>

    <app-capability-list></app-capability-list>

  </md-sidenav-container>
</div>


